body,
html {
    height: 100%;
    margin: 0;
}

.bdimage {
    background-image: url("https://cdn.pixabay.com/photo/2018/02/23/21/29/roses-frame-3176667_960_720.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: rgb(187, 14, 167);
    font-size: 35px;
}

.bottomleft {
    position: absolute;
    color: red;
    bottom: 0;
    left: 18px;
}

.middle {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100vw;

    font-size: 1rem;
}

hr {
    margin: auto;
    width: 40%;
}
.countdown {
}

#top-img {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100vw;
}

.top-img img {
    width: 95px;
    aspect-ratio: 1;
    object-fit: cover;
    --_m: radial-gradient(#000 69%, #0000 70%) 84.5%/50%;
    -webkit-mask-box-image: var(--_m);
    mask-border: var(--_m);
    clip-path: polygon(-41% 0, 50% 91%, 141% 0);
}

@supports not (-webkit-mask-box-image: var(--_m)) {
    img {
        --_m: radial-gradient(at 70% 31%, var(--c) 29%, #0000 30%), radial-gradient(at 30% 31%, var(--c) 29%, #0000 30%),
            linear-gradient(#000 0 0) bottom/100% 50% no-repeat;
        -webkit-mask: var(--_m);
        mask: var(--_m);
    }
}

.message {
    margin-top: 200px;
    display: none;
}
.message p {
    font-family: "Signika", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #c4515c;
    text-shadow: 2px 2px 2px #fff;
    display: none;
    font-weight: bold;
}

#wish-message-container {
    display: none;
}
